<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        tools:targetApi="34" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    
    <!-- Screen Time / Usage Access izinleri -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" 
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

<application
        android:name=".deep.di.DeepApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeepWork"
        tools:targetApi="31">

    <!-- WorkManager için foreground-service tanımı -->
    <service
        android:name="androidx.work.impl.foreground.SystemForegroundService"
        android:exported="false"
        android:foregroundServiceType="mediaPlayback|specialUse">
        <property
            android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="stopwatch_timer" />
    </service>

    <!-- App Blocking Service -->
    <service
        android:name=".deep.data.service.AppBlockingService"
        android:exported="false"
        android:foregroundServiceType="specialUse">
        <property
            android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="app_blocking" />
    </service>

    <!-- Broadcast Receivers -->
    <receiver
        android:name=".deep.data.receiver.StopwatchNotificationBroadcastReceiver"
        android:exported="false" />

    <receiver
        android:name=".deep.data.receiver.TimerNotificationBroadcastReceiver"
        android:exported="false" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- WorkManager otomatik başlatmayı devre dışı bırak -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
        <!-- WorkManager için gerekli foreground service -->

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.DeepWork">
        </activity>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>



    <!-- Varsayılan İkon -->
    <activity-alias
        android:name=".MainActivityDefault"
        android:enabled="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 1 -->
    <activity-alias
        android:name=".MainActivityBlue"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_blue"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 2 -->
    <activity-alias
        android:name=".MainActivityWhite"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_white"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 3 -->
    <activity-alias
        android:name=".MainActivityYellow"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_yellow"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 4 -->
    <activity-alias
        android:name=".MainActivitySun"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_sun"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>


    <!-- Alternatif İkon 5 -->
    <activity-alias
        android:name=".MainActivityRainbow"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_rainbow"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>


    <!-- Alternatif İkon 6 -->
    <activity-alias
        android:name=".MainActivitySweet"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_sweet"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>


    <!-- Alternatif İkon 7 -->
    <activity-alias
        android:name=".MainActivityMetal"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_metal"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>


    <!-- Alternatif İkon 8- -->
    <activity-alias
        android:name=".MainActivitySky"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_sky"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>


    <!-- Alternatif İkon 9 -->
    <activity-alias
        android:name=".MainActivityOrange"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_orange"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>


    <!-- Alternatif İkon 10 -->
    <activity-alias
        android:name=".MainActivityGreen"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_green"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 11 -->
    <activity-alias
        android:name=".MainActivityPink"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_pink"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 12 -->
    <activity-alias
        android:name=".MainActivitySkyBlue"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_skyblue"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 13 -->
    <activity-alias
        android:name=".MainActivityPurple"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_purple"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Alternatif İkon 14 -->
    <activity-alias
        android:name=".MainActivityWood"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_wood"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>


    <!-- Alternatif İkon 15 -->
    <activity-alias
        android:name=".MainActivityLeather"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_leather"
        android:label="@string/app_name"
        android:targetActivity=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>




    </application>

</manifest>